@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    background: rgb(120, 209, 255);
    background: linear-gradient(90deg, rgb(63, 191, 255) 0%, rgb(68, 163, 251) 50%, rgb(110, 144, 202) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    color: #fff5f5;
    margin-top: 100px;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
        1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    font-size: 50px;
    text-align: center;
}

h2 {
    margin: 10px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

#stats-display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 75px;
    margin-bottom: 700px;
}

#stat-text {
    display: grid;
    grid-template-columns: repeat(2, 30vw 18vw);
    grid-template-rows: repeat(11, 4.2vh);
    font-size: 25px;
    margin-top: -25px;
    margin-bottom: -25px;
}


@media only screen and (max-width: 900px) {
    #stat-text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 700px) {
    #stat-text {
        font-size: 16px;
    }
}

@media only screen and (max-width: 550px) {
    #stat-text {
        font-size: 12px;
    }
}


@media only screen and (max-width: 420px) {
    #stat-text {
        grid-template-columns: repeat(2, 9vh 3vh);
        grid-template-rows: repeat(11, 4.2vh);
        font-size: 10px;
    }
}


.visiblity-button {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    background-color: #D3D3D3;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 25px;
    margin-bottom: 25px;

    /* for centering button */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 75px;
}

.visiblity-button:hover {
    background-color: #fff;
    cursor: pointer;
    transform: scale(1.1);
}

#top-text {
    margin-top: 20vh;
}

img {
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    transition: 0.3s;
}

img:hover {
    cursor: pointer;
    transform: scale(1.25);
    opacity: 0.8;
}

#mythic-items,
#legendary-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#mythic-items img,
#legendary-items img {
    border-radius: 4px;
    margin-right: 5px;
    margin-left: 5px;
}

#mythic-items img {
    border: 3.5px solid #FFD700;
}

#legendary-items img {
    border: 3.5px solid;
}

#current-items-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -5px;

    /* keep list at top of screen */
    background-color: #c0c0c0;
    border-radius: 10px;
    position: fixed;
    top: 0;
    width: 50vw;
    /* (100-width)/2 - 10px */
    margin-left: calc(25vw - 10px);


    /* so that list is in front of items and buttons when you scroll down */
    z-index: 1;

}

#current-items-display #mythic {
    border: 4px solid #FFD700;
}

#current-items-display img {
    border: 4px solid;
    border-radius: 5px;
    width: 6.5vw;
    height: 6.5vw;
}

#current-items-display img:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 1920px) {
    #current-items-display {
        width: 53vw;
        /* (100-width)/2 - 10px */
        margin-left: calc(23.5vw - 10px);
    }
}

@media only screen and (max-width: 1200px) {
    #current-items-display {
        width: 65vw;
        /* (100-width)/2 - 10px */
        margin-left: calc(17.5vw - 10px);
    }

    #current-items-display img {
        width: 7.5vw;
        height: 7.5vw;
    }
}

@media only screen and (max-width: 1000px) {
    #current-items-display {
        width: 85vw;
        /* (100-width)/2 - 10px */
        margin-left: calc(7.5vw - 10px);
    }


    #current-items-display img {
        width: 10vw;
        height: 10vw;
    }
}

@media only screen and (max-width: 700px) {
    #current-items-display {
        width: 75vw;
        /* (100-width)/2 - 10px */
        margin-left: calc(12.5vw - 10px);
    }


    #current-items-display img {
        width: 15vw;
        height: 15vw;
    }

    #top-text {
        margin-top: 35vh;
    }

    .visiblity-button {
        font-size: 24px;
    }
}

@media only screen and (max-width: 500px) {

    #current-items-display img {
        width: 18vw;
        height: 18vw;
    }

    #top-text {
        margin-top: 35vh;
    }
}